.ks{
    background-color:red; color:rgb(0, 0, 0); height:200px; text-align: center;
}
body{
    background-color: lightskyblue;
}
.doboz{
    background-color:lightgray;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    min-width: 648px;
    max-height: 377px;
    margin-left: 308px;
}
.egy{
    font-size: 60px;
}
.nincs{
    opacity: 0;
}
.lap{
    margin-left: 300px;
    margin-right: 300px;
    background-color:white;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    max-height: 3375px;
}
p{
    font-size: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
mark{
    background-color: red;
    font-size: 50px;
    color:white
}
li{
    font-size: 20px;
}
.jumbotron{
    display:table;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.x{
    margin-right: 300px;
    min-width: 648px;
    max-height: 377px;
}
html{
    justify-content: center;
}